<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ASSIGNMENT3{% endblock %}</title>
    <link href="https://bootswatch.com/5/journal/bootstrap.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ASSIGNMENT3</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/announcements/">Announcements</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>
</body>
</html>
